
Module1/01 Dataset Creation - Collect Movie plots with beautifulsoup .ipynb
Module1/Moviepro.ai - Streamlit App/README.md
Module1/Moviepro.ai with tfidf- Streamlit App/README.md
Module1/Moviepro.ai with tfidf- Streamlit App/requirements.txt
